*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    min-height: 250px;
}

/* img {
    width: 100%;
    object-fit: cover;
} */

.wrapper {
    height: 100vh;
    background: linear-gradient(180deg, #009688 20%, #dadbd3 10%, #d2dbdb 30%);
    padding: 30px;
}

.container-user {
    padding: 10px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-name {
    display: flex;
    align-items: center;
    /* position: relative; */
}

.image-user1{
    margin-left: -10px;
}

.image-name{
    margin-left: 10px;
}

.image-name img{
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

.image-name:hover {
    cursor: pointer;
}

.icon-container {
    float: right;
    display: flex;
    justify-content: space-around;
}

.icon-container2{
    position: relative;
    left: 550px;
}

.icon-container i {
    padding-left: 20px;
    font-size: 20px;
    color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

.icon-container2 i{
    padding-left: 20px;
    font-size: 20px;
    color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

.icon-container i:hover {
    color: rgba(128, 128, 128, 1);
}

.icon-container2 i:hover {
    color: rgba(128, 128, 128, 1);
}

#app {
    max-width: 80%;
    margin: auto;
    display: flex;
    height: calc(100vh - 100px);
    outline: 2px solid black;
}

.column-contact {
    width: 30%;
    min-width: 270px;
    overflow-y: hidden;
    height: 100%;
    min-height: 200px;
    background-color: white;
}

.column-chat {
    width: 70%;
    height: 100%;
    outline: 2px solid black;
    background-image: url(/img/img/mine.jpg)
}

.image-row{
    width: 100%;
    height: 81px;
    background-color: white;
    display: flex;
    align-items: center;
}

.image-row img{
    width: 50px;
    height: 50px;
}

.user-time{
    position: relative;
    left: 130px;
}

.notification-container {
    background-color: #8edafb;
    display: flex;
    align-items: center;
    padding: 15px;
    line-height: 15px;
}

.icon-notification {
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    color: #8edafb;
    padding: 10px;
}

.notification-text {
    padding-left: 10px;
}

.notification-text a {
    font-size: 10px;
    color: rgb(128, 128, 128);
}

.filter {
    background-color: rgba(234, 234, 234, 0.4);
    padding: 5px;
}

.filter-container {
    background-color: white;
    display: flex;
    padding: 5px 10px;
    border: 1px solid #aeaeae;
}

.icon-search {
    color: #c6c4c4;
}

.input-search input {
    width: 100%;
    border: 0;
}

.input-search {
    padding-left: 20px;
}

/* .row-footer{
    height: 81px;
    width: 100px;
    background-color: white;
} */